.bodyhome {
    display: grid;
    grid-template-areas:
        "objetivos objetivos"
        "boxmodel sugerencias"
        "carrusel sugerencias";
    grid-template-columns: 3fr 1fr;
    /* La columna 1 ocupa 2 fracciones del espacio y la columna 2 (sugerencias) ocupa 1 fracción */
    gap: 0.5rem;
    background-color: rgba(240, 219, 232, 0.932);
    margin-bottom: 0;
    padding: 1rem;
}

.objetivos {
    background-color: rgba(240, 219, 232, 0.932);
    grid-area: objetivos;
    padding: 1rem;
}

.boxmodel {
    background-color: rgba(240, 219, 232, 0.932);
    grid-area: boxmodel;
    display: block;

}

.boxmodel1,
.boxmodel2 {
    background-color: rgb(240, 195, 223);
    padding: 1rem;
    margin: 1.8rem 0;
    overflow: auto;
    border: solid 1px pink;
    width: 100%;
}

.sugerencias {
    background-image: linear-gradient(rgb(241, 158, 209), rgb(245, 230, 239));
    grid-area: sugerencias;
    padding: 2.2rem;
    margin: 1.8rem 0;
    line-height: 2.5rem;
}


.carousel-container {
    grid-area: carrusel;
    width: 70%;
    height: auto;
    margin: 0 auto;
    border-radius: 1.2rem;
    padding: 0.5rem;
}

.carouselItem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0.5rem;
    height: auto;
    width: 100%;
}

.carousel-image {
    max-width: 80%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.carousel-caption {
    text-align: center;
    margin-top: 0.5rem;
    max-width: 90%;
    font-size: 0.9rem;
    margin-left: auto;
    margin-right: auto;
}

.custom-italic {
    font-style: italic;
}

.textoSobreImg{
    background: rgba(0, 0, 0, 0.3)
}