.bodyhome {
    display: grid;
    grid-template-areas: 
        "objetivos sugerencias"
        "boxmodel sugerencias"
        "carrusel sugerencias";
    grid-template-columns: 2fr 1fr; /* La columna 1 ocupa 2 fracciones del espacio y la columna 2 (sugerencias) ocupa 1 fracción */
    gap: 1rem;
    background-color: rgba(240, 219, 232, 0.932);
    margin-bottom: 0;
    padding: 1rem;
}

.objetivos {
    background-color: rgba(240, 219, 232, 0.932);
    grid-area: objetivos;
    padding: 1rem;
}

.boxmodel {
    background-color: rgba(240, 219, 232, 0.932);
    grid-area: boxmodel;
    display: block;
    padding: 1rem;
}

.boxmodel1,
.boxmodel2 {
    background-color: rgb(240, 195, 223);
    padding: 1rem;
    margin: 0.3rem 0;
    overflow: auto;
    border: solid 1px black;
    width: 100%;
}

.sugerencias {
    background-image: linear-gradient(rgb(241, 158, 209), rgb(245, 230, 239));
    grid-area: sugerencias;
    padding: 2.2rem;
    line-height: 2.5rem;
}

.carousel-container {
    grid-area: carrusel;
    width: 100%;
    margin: 0;
    padding: 0;
}

.carousel-image {
    width: 100%;
    height: auto;
    max-width: 100vw;
}

.custom-italic {
    font-style: italic;
  }