.Razas {
    text-align: center;
  }
  
  .Razas-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
  }
  
  .Razas-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .Razas-link {
    color: #61dafb;
  }
  .cat-image {
    max-width: 200px;
    max-height: 200px;
  }
  
  @keyframes Razas-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

/*
.bodyhome2 {
    display: grid;
    grid-template-areas:
        "encabezadoRazas encabezadoRazas"
        "imgA textimgA"
        "imgB textimgB"
        "imgC textimgC"
        "imgD textimgD";
        grid-column: 1fr 1fr;
        grid-template-rows: 1fr 2fr 2fr 2fr 2fr;
        height: 100vh;
        column-gap: none;
        row-gap: 1rem;
    
}
.encabezadoRazas{
    grid-area: encabezadoRazas;
}
.imgA {
    grid-area: imgA;
    background-color: rgb(240, 195, 223);
}

.textimgA {
    grid-area: textimgA;
    background-color: rgb(240, 195, 223);
}

.imgB {
    grid-area: imgB;
    background-color: rgb(240, 195, 223);
}

.textimgB {
    grid-area: textimgB;
    background-color: rgb(240, 195, 223);
}

.imgC {
    grid-area: imgC;
    background-color: rgb(240, 195, 223);
}

.textimgC {
    grid-area: textimgC;
    background-color: rgb(240, 195, 223);
}

.imgD {
    grid-area: imgD;
    background-color: rgb(240, 195, 223);
}

.textimgD {
    grid-area: textimgD;
    background-color: rgb(240, 195, 223);
}

.imgRazas {
    padding: 0.5rem;
    width: 90%;
}

.imgRazas img {
    width: 100%;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
}

.textRazas {
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    margin-right: 0.4rem;
    float: right;
} 